<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Contact Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app = "app">
    <div class="container" ng-controller = "ContactController">

      <form ng-submit="addContact(contact)"

        <label class="label">Name</label>
        <p class="control">
          <input class="input" type="text"
            ng-model="contact.name"
            ng-keyup="validateName(contact.name)"/>
          <span class="input-error">{{ errors.name }}</span>
        </p>

        <label class="label">Email</label>
          <p class="control has-icon has-icon-right">
            <input class="input" type="text"
              ng-model="contact.email"
              ng-keyup="validateEmail(contact.email)"/>
            <span class="input-error">{{ errors.email }}</span>
          </p>

        <label class="label">Website</label>
          <p class="control has-icon has-icon-right">
            <input class="input" type="text"
              ng-model="contact.website"
              ng-keyup="validateWebsite(contact.website)"/>
            <span class="input-error">{{ errors.website }}</span>
          </p>

        <label class="label">Message</label>
          <p class="control">
            <textarea class="textarea"
              ng-model="contact.message"
              ng-keyup="validateMessage(contact.message)"></textarea>
            <span class="input-error">{{ errors.message }}</span>
          </p>

        <button class="button is-primary">Submit</button>

      </form>

      <div class="list">
        Lela's Contact List
      </div>

      <div class="box" ng-repeat = "contact in contacts">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="http://placecage.com/128/128" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content contacts">
              <p>
                <strong>{{contact.name}}</strong> <small>{{contact.email}}</small> <small>{{contact.website}}</small>
                <br>
                {{contact.message}}
              </p>
            </div>
            <nav class="level">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-heart"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>

    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
